.my-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 20px 20px;
    height: 100vh;
}

.projects-titles {
    position: relative;
    text-align: center;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

.project-item {
    position: relative;
    width: 100%;
    max-width: 419px;
    max-height: 280px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-item img {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border 0.3s ease-in-out, filter 0.3s ease-in-out;
    cursor: pointer;
}

.project-item:hover img,
.project-item.hover img {
    transform: scale(1.1);
    box-shadow: 4px 4px 4px rgba(0, 255, 0, 0.5);
    border: #2ecc71 solid 4px;
    filter: blur(5px);
}

.button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

.project-item:hover .button-container,
.project-item.hover .button-container {
    opacity: 1;
    pointer-events: auto;
}

.project-button {
    background-color: #2ecc71;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.project-button a {
    text-decoration: none;
    color: white;
}

.project-button:hover {
    background-color: #27ae60;
    box-shadow: 1px 1px 8px rgba(0, 255, 0, 0.5);
}

.project-item h4 {
    color: white;
    margin-top: 10px;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .my-projects {
        height: 50vh;
    }

    .projects-container {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 767px) {
    .projects-container {
        grid-template-columns: 1fr;
    }

    .my-projects {
        height: 150vh;
    }
}

